.container1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
    padding: 20px;
    background-color: #f6f8fa;
    max-width: 800px;
    display: flex;
    position: absolute;
    z-index: 2;
    flex-direction: column;
    top: 20vh;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
}

.h1-commits {
    margin: 0px;
    margin-bottom: 20px;
}

.commit-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.commit-item {
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 15px;
    transition: box-shadow 0.3s ease;
    position: relative;
}

.commit-item:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.commit-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.commit-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.commit-author {
    font-weight: 600;
    color: #0366d6;
}

.commit-title {
    font-weight: 600;
}

.commit-description {
    margin-top: 10px;
    display: none;
}

.commit-description p {
    margin: 5px 0;
}

.commit-description strong {
    font-weight: 600;
    margin-right: 5px;
}

.expand-icon {
    font-size: 1.2rem;
    color: #0366d6;
    position: sticky;
    right: 15px;
}

.commit-version {
    margin-right: 30px;
}

.autor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.commit-item.expanded .commit-description {
    display: block;
}

@media (max-width: 510px) {
    .aside-help {
        width: 90%;
        padding: 1.5em;
    }

    .aside-help h2 {
        font-size: 1.5em;
    }

    .aside-help input,
    .aside-help textarea {
        padding: 0.5em;
    }

    .aside-help button {
        padding: 0.5em;
        font-size: 0.9em;
    }

    .autor {
        display: none;
    }

    .container1 {
        width: 90%;
    }
}