.aside-help {
    width: 60%;
    margin: 0 auto;
    padding: 2em;
    background-color: #f6f8fa;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 800px;
    z-index: 2;
    top: 15vh;
    transition: all 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.aside-help:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.aside-help h2 {
    text-align: center;
    margin-bottom: 1em;
    color: #333;
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 0.5em;
    color: #4a4a4a;
}

.button {
    margin: 0;
    margin-top: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1em;
    font-size: 1em;
}

.aside-help form {
    display: flex;
    flex-direction: column;
}

.aside-help label {
    margin-bottom: 0.5em;
    color: #666;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.aside-help input,
.aside-help textarea {
    padding: 0.75em;
    margin-bottom: 1.5em;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s ease-in-out;
}

.aside-help input:focus,
.aside-help textarea:focus {
    border-color: rgb(167, 108, 0);
    outline: none;
}

.aside-help input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}


.aside-help input[type="checkbox"]:checked {
    background-color: rgb(167, 108, 0);
}

.aside-help input[type="checkbox"]::before {
    content: "";
    display: block;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.aside-help input[type="text"],
.aside-help textarea,
.aside-help button,
.aside-help input[type="checkbox"] {
    transition: all 0.3s ease;
}

.aside-help button:hover {
    background-color: rgb(138, 90, 0);
    transform: translateY(-2px);
}

.aside-help button:active {
    transform: translateY(0);
}

.error-border {
    border: 2px solid orange;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: -0.5em;
    margin-bottom: 1em;
}

#consent {
    margin: 0;
    margin-right: 10px;
}

.check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#description {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

@media (max-width: 510px) {
    .aside-help {
        width: 90%;
        padding: 1.5em;
    }

    .aside-help h2 {
        font-size: 1.5em;
    }

    .aside-help input,
    .aside-help textarea {
        padding: 0.5em;
    }

    .aside-help button {
        padding: 0.5em;
        font-size: 0.9em;
    }
}
